<footer class="container mx-auto pt-20 text-center text-sm font-semibold">
  <ul class="pb-2 flex flex-row justify-center underline gap-4">
    <li class="">
      <a href="#">Política de Privacidade</a>
    </li>
    <li class="">
      <a href="#">Condições de Reservas</a>
    </li>
  </ul>

  <p class="pb-2">Todos os direitos reservados. Proibida a reprodução sem prévia autorização.</p>

  <p class="pb-2 text-xs">
    Um site desenvolvido por <a href="#" class="text-sm font-bold" target="_blank">Miguel Müller</a>
  </p>
</footer>
