:host{
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  padding: 2.5rem 1.75rem;
  border-top-width: 8px;
  @apply bg-heavy-metal-100 border-heavy-metal-700;
}

nav{
  @apply w-full text-base md:flex md:flex-grow items-center pt-6 md:pt-0;

  ul{
    @apply w-full flex flex-col sm:flex-row items-center justify-end font-bold md:font-semibold uppercase;

    li{
      a{
        @apply block mx-1 py-2 px-3 rounded-md cursor-pointer transition-all duration-500 ease-in-out hover:bg-heavy-metal-200;
      }

      &:last-child{
        a{
          @apply mr-0 bg-heavy-metal-700 text-white border hover:bg-heavy-metal-500 focus:bg-heavy-metal-500 focus:outline-none hover:outline-none focus:ring-2 hover:ring-2 focus:ring-offset-2 hover:ring-offset-2 focus:ring-heavy-metal-500 hover:ring-heavy-metal-500;
        }
      }
    }
  }
}

.toggleMenu{
  @apply flex md:hidden p-2 rounded text-sm font-semibold border-transparent bg-heavy-metal-700  text-white hover:bg-heavy-metal-500 focus:bg-heavy-metal-500 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-heavy-metal-500
}
