#section-home-contact{
  padding-top: 120px;
  padding-bottom: 60px;

  .contact-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
  }

  .contact-social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px;

    svg{
      margin: 0px 15px;
    }
  }

  .contact-mode{
    padding: 20px 0px 40px;;
    text-align: center;

    .contact-icons{
      padding: 20px 0px 10px;
    }
  }

  .contact-map{
    background: transparent;
    border: 4px solid map-get($colors, 'primary-v2');
    border-radius: $border-radius;
    background-image: url('/assets/images/map-background.png');

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@include breakpoint('max', $show-menu-mobile) {
  #section-home-contact{
    .contact-content{
      grid-template-columns: repeat(1, 1fr);
    }

    .contact-mode{
      .contact-icons{
        flex-flow: row wrap;

        a{
          padding: 25px;
        }
      }
    }

    .contact-form{
      order: 2;
    }

    .contact-map{
      order: 1;
      margin: 10px 0px 40px;
      min-height: 250px;
    }
  }
}
