<section id="historia-da-pousada" class="container w-full mx-auto px-4 pt-20 pb-4 md:py-20">
  <div class="pb-4">
    <h1 class="text-center text-4xl font-display font-semibold">História da Pousada</h1>
    <h2 class="text-center text-2xl font-display font-light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</h2>
  </div>

  <div class="flex flex-col md:flex-row items-center justify-between gap-0 md:gap-10">
    <div class="w-full md:w-1/2">
      <p class="pb-4 leading-relaxed">Situada em uma das principais ruas de circulação de Rio Claro, a Pousada Müller é o mais antigo e conhecido estabelecimento de hospedagem da região. Fundada com o formato de pensão em 0000 por Floriano e Jovelina Miller, a gestão familiar segue por 4 gerações, sendo administrada atualmente por Miguel Müller Neto, à frente da Pousada desde 2010.</p>
      <p class="pb-4 leading-relaxed">Com mais de 70 anos de tradição as instalações mantiveram as características acolhedoras e adaptadas às necessidades dos hóspedes, sempre buscando se modernizar para aliar conforto e tradição para quem busca Rio Claro como destino.</p>
    </div>

    <div class="w-full md:w-1/2">
      <p class="pb-4 leading-relaxed">A Pousada Müller oferece aos hóspedes uma área total de 510m², com 10 unidades habitacionais no formato de hostel, com acomodações privativas. A pousada conta também com uma área de lazer com piscina e churrasqueira, além de cozinha aberta aos hóspedes.</p>
      <p class="pb-4 leading-relaxed">Buscando sempre oferecer um serviço de qualidade e uma estadia confortável, a família Müller recebe e saúda os visitantes, desejando uma agradável experiência em Rio Claro e região e um breve retorno!</p>
    </div>
  </div>


  <ul class="flex flex-row flex-wrap py-6 -mx-4 justify-center">
    <li class="w-6/12 sm:w-4/12 lg:w-3/12 xl:w-1/5 p-4">
      <a href="#" class="default-image">
        <ngx-picture
          src="https://res.cloudinary.com/miguelsmuller/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1621942224/pousada-muller-site/galeria-pousada/pousada-1-square_tkk9dm.WebP"
          alt=""
          [lazyLoad]="true"
        ></ngx-picture>
      </a>
    </li>
    <li class="w-6/12 sm:w-4/12 lg:w-3/12 xl:w-1/5 p-4">
      <a href="#" class="default-image">
        <ngx-picture
          src="https://res.cloudinary.com/miguelsmuller/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1621942224/pousada-muller-site/galeria-pousada/pousada-2-square_c5fnyb.WebP"
          alt=""
          [lazyLoad]="true"
        ></ngx-picture>
      </a>
    </li>
    <li class="w-6/12 sm:w-4/12 lg:w-3/12 xl:w-1/5 p-4">
      <a href="#" class="default-image">
        <ngx-picture
          src="https://res.cloudinary.com/miguelsmuller/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1621942228/pousada-muller-site/galeria-pousada/pousada-5-square_blehpf.WebP"
          alt=""
          [lazyLoad]="true"
        ></ngx-picture>
      </a>
    </li>
    <li class="w-6/12 sm:w-4/12 lg:w-3/12 xl:w-1/5 p-4">
      <a href="#" class="default-image">
        <ngx-picture
          src="https://res.cloudinary.com/miguelsmuller/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1621942222/pousada-muller-site/galeria-pousada/pousada-6-square_cvbpvq.WebP"
          alt=""
          [lazyLoad]="true"
        ></ngx-picture>
      </a>
    </li>
    <li class="w-6/12 sm:w-4/12 lg:w-3/12 xl:w-1/5 p-4">
      <a href="#" class="default-image">
        <ngx-picture
          src="https://res.cloudinary.com/miguelsmuller/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1621942223/pousada-muller-site/galeria-pousada/pousada-7-square_twyhh9.jpg"
          alt=""
          [lazyLoad]="true"
        ></ngx-picture>
      </a>
    </li>
  </ul>
</section>
