<section id="fale-conosco" class="container w-full mx-auto">
  <div class="default-section-title">
    <h1>Permaneça conectado conosco</h1>
  </div>

  <div class="flex flex-row justify-center gap-5">
    <a href="">
      <svg width="60" height="60" viewBox="0 0 60 60">
        <g transform="translate(-608 -6220)">
          <rect class="fill-current bg-heavy-metal-700" width="60" height="60" rx="4" transform="translate(608 6220)" />
          <path
            class="fill-current text-heavy-metal-100"
            d="M38.906,18l.889-5.791H34.237V8.451c0-1.584.776-3.129,3.265-3.129h2.526V.391A30.807,30.807,0,0,0,35.544,0c-4.576,0-7.567,2.774-7.567,7.8v4.414H22.89V18h5.087V32h6.261V18Z"
            transform="translate(606.11 6234)"
          />
        </g>
      </svg>
    </a>

    <a href="">
      <svg width="60" height="60" viewBox="0 0 60 60">
        <g transform="translate(-699 -6220)">
          <rect class="fill-current bg-heavy-metal-700" width="60" height="60" rx="4" transform="translate(699 6220)" />
          <path
            class="fill-current text-heavy-metal-100"
            d="M31.484,24.374C31.484,33.5,25.232,40,16,40A16,16,0,1,1,16,8a15.387,15.387,0,0,1,10.729,4.187l-4.355,4.187c-5.7-5.5-16.29-1.368-16.29,7.626A10.022,10.022,0,0,0,16,34.1c6.335,0,8.71-4.542,9.084-6.9H16V21.7H31.232a14.026,14.026,0,0,1,.252,2.671Z"
            transform="translate(713 6226)"
          />
        </g>
      </svg>
    </a>

    <a href="">
      <svg width="60" height="60" viewBox="0 0 60 60">
        <g transform="translate(-699 -6220)">
          <rect class="fill-current bg-heavy-metal-700" width="60" height="60" rx="4" transform="translate(699 6220)" />
          <path
            class="fill-current text-heavy-metal-100"
            d="M13.156,100.693A1.895,1.895,0,1,1,11.262,98.8,1.895,1.895,0,0,1,13.156,100.693ZM34.106,98.8A1.894,1.894,0,1,0,36,100.693,1.894,1.894,0,0,0,34.106,98.8Zm7.067,11.029a11.4,11.4,0,0,1-16-1.942l-2.449,3.663L20.3,107.916A11.387,11.387,0,0,1,2.231,94.054,14.766,14.766,0,0,0,0,89.536l7.138,0A28.343,28.343,0,0,1,22.719,85.26a27.7,27.7,0,0,1,15.195,4.218l7.607.006a14.683,14.683,0,0,0-2.242,4.558A11.4,11.4,0,0,1,41.173,109.827Zm-20.666-9.037a9.1,9.1,0,1,0-9.1,9.1,9.1,9.1,0,0,0,9.1-9.1Zm2.261-.827a11.36,11.36,0,0,1,11-10.517,26.815,26.815,0,0,0-11.047-2.2A28.171,28.171,0,0,0,11.637,89.4,11.4,11.4,0,0,1,22.767,99.964Zm19.9-2.274a9.1,9.1,0,1,0-17.074,6.3v0a9.1,9.1,0,0,0,17.074-6.3Zm-25.778,3v.009a5.633,5.633,0,1,1,0-.009Zm-1.938,0v-.007a3.7,3.7,0,1,0,0,.007Zm24.781,0v0a5.63,5.63,0,1,1-5.627-5.633A5.63,5.63,0,0,1,39.733,100.7Zm-1.937,0a3.691,3.691,0,1,0-3.69,3.692,3.691,3.691,0,0,0,3.69-3.692Z"
            transform="translate(705 6151.746)"
            fill="#edeaea"
          />
        </g>
      </svg>
    </a>
  </div>

  <div class="flex flex-col py-12">
    <div class="flex flex-row flex-wrap justify-evenly pb-4 gap-6 md:gap-0">
      <a href="#" class="flex flex-col items-center">
        <svg class="w-10 h-10 md:w-20 md:h-20" viewBox="0 0 80 80">
          <path
            class="fill-current bg-heavy-metal-700"
            d="M77.083,3.835,60.834.085a3.774,3.774,0,0,0-4.3,2.172l-7.5,17.5a3.74,3.74,0,0,0,1.078,4.375l9.469,7.75A57.907,57.907,0,0,1,31.9,59.568L24.147,50.1a3.746,3.746,0,0,0-4.375-1.078l-17.5,7.5A3.8,3.8,0,0,0,.085,60.833l3.75,16.25a3.749,3.749,0,0,0,3.656,2.906,72.49,72.49,0,0,0,72.5-72.5A3.745,3.745,0,0,0,77.083,3.835Z"
            transform="translate(0.01 0.011)"
          />
        </svg>
        <p class="text-center">(24) 0000-0000</p>
      </a>

      <a href="#" class="flex flex-col items-center">
        <svg class="w-10 h-10 md:w-20 md:h-20" viewBox="0 0 80 80">
          <path
            class="fill-current bg-heavy-metal-700"
            d="M68.018,43.625A39.656,39.656,0,0,0,5.625,91.464L0,112l21.018-5.518A39.522,39.522,0,0,0,39.964,111.3h.018C61.821,111.3,80,93.518,80,71.661A39.8,39.8,0,0,0,68.018,43.625Zm-28.036,61A32.891,32.891,0,0,1,23.2,100.036L22,99.321,9.536,102.589l3.321-12.161-.786-1.25A33.014,33.014,0,1,1,73.3,71.661C73.3,89.839,58.143,104.625,39.982,104.625ZM58.054,79.946c-.982-.5-5.857-2.893-6.768-3.214-.911-.339-1.571-.5-2.232.5s-2.554,3.214-3.143,3.893c-.571.661-1.161.75-2.143.25-5.821-2.911-9.643-5.2-13.482-11.786-1.018-1.75,1.018-1.625,2.911-5.411a1.836,1.836,0,0,0-.089-1.732c-.25-.5-2.232-5.375-3.054-7.357-.8-1.929-1.625-1.661-2.232-1.7-.571-.036-1.232-.036-1.893-.036a3.669,3.669,0,0,0-2.643,1.232,11.131,11.131,0,0,0-3.464,8.268c0,4.875,3.554,9.589,4.036,10.25.5.661,6.982,10.661,16.929,14.964,6.286,2.714,8.75,2.946,11.893,2.482,1.911-.286,5.857-2.393,6.679-4.714s.821-4.3.571-4.714C59.7,80.679,59.036,80.429,58.054,79.946Z"
            transform="translate(0 -32)"
          />
        </svg>
        <p class="text-center">(24) 0000-0000</p>
      </a>

      <a href="#" class="flex flex-col items-center">
        <svg class="w-18 h-10 md:w-28 md:h-20" viewBox="0 0 112 80">
          <path
            class="fill-current bg-heavy-metal-700"
            d="M96.667,64H10A10,10,0,0,0,0,74v60a10,10,0,0,0,10,10H96.667a10,10,0,0,0,10-10V74A10,10,0,0,0,96.667,64Zm0,10v8.5C92,86.305,84.548,92.22,68.628,104.686c-3.509,2.76-10.459,9.39-15.294,9.313-4.835.078-11.787-6.554-15.294-9.313C22.121,92.222,14.672,86.306,10,82.5V74ZM10,134V95.333c4.774,3.8,11.544,9.138,21.862,17.218,4.554,3.584,12.528,11.5,21.471,11.449,8.9.048,16.773-7.75,21.469-11.447,10.318-8.08,17.09-13.417,21.864-17.219V134Z"
            transform="translate(0 -64)"
          />
        </svg>
        <p class="text-center">contato@hotelmuller.com.br</p>
      </a>
    </div>
    <p class="text-xs font-normal text-center">
      Atendimento comercial de Segunda à Sexta das 9h ás 18h. Sábado das 09h às 13h.
    </p>
  </div>

  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-1/2">
      <form [formGroup]="formContactGroup">
        <input
          id="input_form_type"
          name="input_form_type"
          formControlName="input_form_type"
          type="hidden"
          value="form_type_contact"
        />
        <fieldset>
          <legend class="text-xl font-bold pb-2">Formulário de Contato</legend>

          <p class="pb-4">
            Tem alguma dúvida, sugestão ou crítica a fazer? Então entre em contato com a gente através desse formulário
            de contato. Sua opinião é fundamental para o nosso aperfeiçoamento.
          </p>
          <p class="pb-4">Estamos sempre dispostos a responder à sua solicitação.</p>

          <div class="grid grid-cols-6 gap-4 py-2">
            <div class="col-span-6">
              <label for="input_contact_name" class="block text-sm font-semibold">Qual seu nome completo?</label>
              <input
                type="text"
                id="input_contact_name"
                name="input_contact_name"
                formControlName="input_contact_name"
                class="default-input"
              />
            </div>

            <div class="col-span-6">
              <label for="input_contact_email" class="block text-sm font-semibold">Qual seu E-Mail?</label>
              <input
                type="text"
                id="input_contact_email"
                name="input_contact_email"
                formControlName="input_contact_email"
                class="default-input"
              />
            </div>

            <div class="col-span-6">
              <label for="input_contact_tipo" class="block text-sm font-semibold"
                >Qual tipo de manifestação você quer fazer:</label
              >
              <select
                id="input_contact_tipo"
                name="input_contact_tipo"
                formControlName="input_contact_tipo"
                autocomplete="input_contact_tipo"
                class="default-input"
              >
                <option value="">Selecione um tipo de manifestação</option>
                <option value="Dúvida">Dúvida</option>
                <option value="Reclamação">Reclamação</option>
                <option value="Solicitação">Solicitação</option>
                <option value="Sugestão">Sugestão</option>
                <option value="Elogio">Elogio</option>
              </select>
            </div>

            <div class="col-span-6">
              <label for="input_contact_assunto" class="block text-sm font-semibold"
                >Sobre qual assunto você quer falar?</label
              >
              <input
                type="text"
                id="input_contact_assunto"
                name="input_contact_assunto"
                formControlName="input_contact_assunto"
                class="default-input"
              />
            </div>

            <div class="col-span-6">
              <label for="input_contact_mensagem" class="block text-sm font-semibold"
                >Qual a mensagem que deseja enviar:</label
              >
              <textarea
                id="input_contact_mensagem"
                name="input_contact_mensagem"
                formControlName="input_contact_mensagem"
                cols="40"
                rows="4"
                class="default-input"
              >
              </textarea>
            </div>
          </div>
        </fieldset>

        <input
          type="submit"
          value="Enviar Formulário"
          class="default-button mt-4"
          [disabled]="!formContactGroup.valid"
          (click)="sendReservation(formContactGroup)"
        />
      </form>
    </div>

    <div class="h-96 md:h-auto w-full md:w-1/2 px-0 py-10 md:px-10 md:py-0">
      <a href="" class="relative block w-full h-full">
        <img
          class="absolute inset-0 w-full h-full object-cover rounded-lg border-8 border-heavy-metal-700"
          src="https://res.cloudinary.com/miguelsmuller/image/upload/v1621942159/pousada-muller-site/images/map-background_kz4prq.WebP"
          alt=""
        />

        <svg class="absolute inset-2/4 transform -translate-x-1/2 -translate-y-1/2 w-60 h-40" viewBox="0 0 240 160">
          <g transform="translate(-886 -5711)">
            <g transform="translate(0 50)">
              <path
                class="fill-current bg-heavy-metal-700"
                d="M30.954,90.144C4.846,52.295,0,48.41,0,34.5a34.5,34.5,0,0,1,69,0c0,13.91-4.846,17.795-30.954,55.644a4.314,4.314,0,0,1-7.091,0Z"
                transform="translate(971 5661)"
              />
              <path
                class="fill-current text-heavy-metal-100"
                d="M26.524,13.448,4.525.443A2.983,2.983,0,0,0,0,3.024V29.029A3,3,0,0,0,4.525,31.61l22-13a3,3,0,0,0,0-5.162Z"
                transform="translate(994 5680.968)"
              />
            </g>
            <rect
              class="fill-current bg-heavy-metal-700"
              width="239"
              height="59"
              rx="6"
              transform="translate(886 5807)"
            />
            <text class="font-bold text-2xl fill-current text-heavy-metal-100" transform="translate(1005 5845)">
              <tspan x="-79.506" y="0">Como Chegar</tspan>
            </text>
          </g>
        </svg>
      </a>
    </div>
  </div>
</section>
