<h2 mat-dialog-title>Verificar Disponibilidade</h2>
<mat-dialog-content>
  <mat-horizontal-stepper linear="true" #stepper>

   <mat-step [stepControl]="formTermsGroup" [completed]="false" label="Termos">
      <form [formGroup]="formTermsGroup" class="flex flex-col">
        <p class="py-2">O Preenchimento do formulário a seguir não é garantia de que a reserva foi efetuada. A Pousada ao receber as informações e verificando a disponibilidade conforme sua demanda entrará em contato para que se possa dar continuidade a reserva.</p>

        <p class="py-2">Dessa forma solicitamos que o formulário seja preenchido as informações corretas para que possamos entrar em contato tão logo quanto seja possível.</p>

        <label class="py-4 inline-flex items-center">
          <input
          id="agreeToTerms"
          type="checkbox"
          formControlName="agreeToTerms"
          class="h-5 w-5 rounded text-heavy-metal-500 last:form-checkbox appearance-none focus:ring-heavy-metal-500" required
          />
          <span class="ml-2 text-heavy-metal-500">Concordo com os termos</span>
        </label>

        <div class="flex pt-2">
          <button matStepperNext class="default-button" [disabled]="!formTermsGroup.valid">Avançar</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formReservationGroup" [completed]="false" label="Formulário">
      <form [formGroup]="formReservationGroup">
        <div class="grid grid-cols-5 gap-4">
          <div class="col-span-5">
            <label for="input_reservation_name">Nome Completo:</label>
            <input
              id="input_reservation_name"
              name="input_reservation_name"
              formControlName="input_reservation_name"
              type="text"
              value=""
              size="40"
              class="default-input"
              placeholder="Nome Completo"
            />
          </div>
          <div class="col-span-5 md:col-span-2">
            <label for="input_reservation_phone">Telefone:</label>
            <input
              id="input_reservation_phone"
              name="input_reservation_phone"
              formControlName="input_reservation_phone"
              type="text"
              value=""
              size="40"
              class="default-input"
              placeholder="Telefone"
              mask="(00) 0000-0000||(00) 0 0000-0000"
              inputmode="numeric"
              pattern="[0-9]*"
            />
          </div>
          <div class="col-span-5 md:col-span-3">
            <label for="input_reservation_mail">E-Mail:</label>
            <input
              id="input_reservation_mail"
              name="input_reservation_mail"
              formControlName="input_reservation_mail"
              type="email"
              value=""
              size="40"
              class="default-input"
              placeholder="E-Mail"
            />
          </div>
          <div class="col-span-5 md:col-span-2">
            <label for="input_reservation_period">Período da reserva:</label>
            <div class="relative">
              <mat-date-range-input [rangePicker]="period" [min]="minDate" [max]="maxDate" class="default-input">
                <input matStartDate formControlName="input_reservation_period1" placeholder="Início" (click)="period.open()">
                <input matEndDate formControlName="input_reservation_period2" placeholder="Fim" (click)="period.open()">
              </mat-date-range-input>
              <button class="absolute inset-y-0 right-1 flex items-center px-2 focus:outline-none" (click)="period.open()">
                <svg viewBox="0 0 24 24" width="24px" height="24px" fill="currentColor" focusable="false" class="mat-datepicker-toggle-default-icon ng-star-inserted fill-current text-heavy-metal-700 opacity-50">
                  <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"></path>
                </svg>
              </button>
              <mat-date-range-picker touchUi #period></mat-date-range-picker>
            </div>
          </div>
          <div class="col-span-5 md:col-span-1">
            <label for="input_reservation_qunits">Quartos:</label>
            <input
              id="input_reservation_qunits"
              name="input_reservation_qunits"
              formControlName="input_reservation_qunits"
              type="number"
              value="1"
              class="default-input"
              placeholder="Quartos"
              min="0"
            />
          </div>
          <div class="col-span-5 md:col-span-1">
            <label for="input_reservation_qpeoples">Adultos:</label>
            <input
              id="input_reservation_qpeoples"
              name="input_reservation_qpeoples"
              formControlName="input_reservation_qpeoples"
              type="number"
              value="1"
              class="default-input"
              placeholder="Adultos"
              min="0"
            />
          </div>
          <div class="col-span-5 md:col-span-1">
            <label for="input_reservation_qchildren">Crianças:</label>
            <input
              id="input_reservation_qchildren"
              name="input_reservation_qchildren"
              formControlName="input_reservation_qchildren"
              type="number"
              value="0"
              class="default-input"
              placeholder="Crianças"
              min="0"
            />
          </div>
        </div>
        <div class="pt-2">
          <button type="submit" class="default-button" [disabled]="!formReservationGroup.valid">Enviar Formulário</button>
        </div>
      </form>
    </mat-step>

    <mat-step label="Conclusão" [completed]="false">
      <p>You are now done.</p>
      <button matStepperPrevious class="default-button">Concluir</button>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
