<section class="w-full py-20">
  <div class="pb-4">
    <h1 class="text-center text-4xl font-display font-semibold">Depoimentos Especiais</h1>
  </div>

  <div class="py-10 md:py-16 bg-heavy-metal-800 text-white">
    <div class="container mx-auto">
      <div class="flex flex-col md:flex-row justify-center items-center text-center px-6 md:px-32">
        <div class="w-full md:w-5/12 pb-4 md:pb-0">
          <p class="text-2xl font-bold">Nilton Pullig</p>
          <p class="text-xs text-heavy-metal-400">Há 1 ano atrás via Google</p>
        </div>
        <div class="w-full md:w-7/12">
          <p class="text-xl">Único hotel no centro da cidade. Bem localizado. Simples mas com ótimo preço. Fomos muito bem recebidos pelo administrador Miguel.</p>
        </div>
      </div>
    </div>
  </div>
</section>
