@import '~@angular/material/theming';
@include mat-core();

$elephant-palette: (
 50: #f5f5f4,
 100: #ebeaea,
 200: #ccccca,
 300: #adada9,
 400: #706f69,
 500: #323129,
 600: #2d2c25,
 700: #26251f,
 800: #1e1d19,
 900: #191814,
 contrast: (
  50: #191814,
  100: #191814,
  200: #2d2c25,
  300: #2d2c25,
  400: #adada9,
  500: #adada9,
  600: #adada9,
  700: #f5f5f4,
  800: #f5f5f4,
  900: #f5f5f4,
 )
);

$gray-palette: (
 50: #FAFAFA,
 100: #F4F4F5,
 200: #E4E4E7,
 300: #D4D4D8,
 400: #A1A1AA,
 500: #71717A,
 600: #52525B,
 700: #3F3F46,
 800: #27272A,
 900: #18181B,
 contrast: (
   50: #F9FAFB,
 )
);

$app-primary: mat-palette($elephant-palette, 500, 200);
$app-accent:  mat-palette($gray-palette, 500);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);
