@use '@angular/material' as mat;
@include mat.core();

/* # Angular Defaults
================================================== */
$elephant-palette: (
 50: #f5f5f4,
 100: #ebeaea,
 200: #ccccca,
 300: #adada9,
 400: #706f69,
 500: #323129,
 600: #2d2c25,
 700: #26251f,
 800: #1e1d19,
 900: #191814,
 contrast: (
  50: #f5f5f4,
  100: #f5f5f4,
  200: #f5f5f4,
  300: #f5f5f4,
  400: #f5f5f4,
  500: #f5f5f4,
  600: #f5f5f4,
  700: #f5f5f4,
  800: #f5f5f4,
  900: #f5f5f4,
 )
);

$gray-palette: (
 50: #FAFAFA,
 100: #F4F4F5,
 200: #E4E4E7,
 300: #D4D4D8,
 400: #A1A1AA,
 500: #71717A,
 600: #52525B,
 700: #3F3F46,
 800: #27272A,
 900: #18181B,
 contrast: (
   50: #F9FAFB,
 )
);

$app-primary: mat.define-palette($elephant-palette, 500, 200);
$app-accent:  mat.define-palette($gray-palette, 500);
$app-theme: mat.define-light-theme($app-primary, $app-accent);
@include mat.all-component-themes($app-theme);


/* # Dialog Utilities
================================================== */
.cdk-overlay-backdrop{
  @apply bg-opacity-60 bg-clip-padding backdrop-filter backdrop-blur-sm bg-heavy-metal-600;
}

.mat-dialog{
  .mat-dialog-container{
    @apply p-0 overflow-hidden bg-heavy-metal-100;
  }
  .mat-dialog-title{
    @apply text-xl p-4 m-0 bg-heavy-metal-700 text-heavy-metal-50 font-display font-semibold;
  }
  .mat-dialog-content{
    /* max-w-3xl p-6 pb-3 m-0; */
    @apply max-w-3xl m-0 p-0;
  }
  .mat-dialog-actions{
    @apply p-6 pb-3 md:pb-6 pt-3 m-0 flex justify-center md:justify-start border-b-8 border-heavy-metal-700;
  }
}
