@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .image-filter{
    -webkit-filter: grayscale(80%) sepia(15%) blur(0px);
    -moz-filter: grayscale(80%) sepia(15%) blur(0px);
    -ms-filter: grayscale(80%) sepia(15%) blur(0px);
    -o-filter: grayscale(80%) sepia(15%) blur(0px);
    filter: grayscale(80%) sepia(15%) blur(0px);
  }
}

@layer components {
  .default-button{
    @apply px-6 py-4 rounded text-sm font-semibold border-transparent bg-heavy-metal-700 text-white hover:bg-heavy-metal-500 focus:bg-heavy-metal-500 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-heavy-metal-500 disabled:opacity-50 disabled:cursor-default;
  }

  .default-image{
    @apply block box-content p-0.5 border-heavy-metal-200 bg-white rounded-lg shadow-md border;

    .ngx-picture__picture {
      @apply max-h-full h-auto w-auto;

      .ngx-picture__picture__img {
        @apply max-h-full h-auto w-auto;
      }
    }

    &.default-image-size{
      .ngx-picture__picture {
        .ngx-picture__picture__img {
          @apply h-40 max-h-48;
        }
      }
    }

    img{
      @apply object-cover w-full rounded transition-all duration-200 ease-in-out image-filter;

      &:hover{
        @apply filter-none;
      }
    }
  }

  .default-input{
    @apply rounded p-2 block w-full appearance-none border transition duration-300 bg-white border-heavy-metal-200 focus:bg-white focus:border-transparent focus:outline-none focus:ring-1 focus:ring-heavy-metal-500;
  }
}


