<section id="nossas-acomodacoes" class="container mx-auto w-full px-4 pt-20 pb-4 md:py-16">
  <div class="pb-4">
    <h1 class="text-center text-4xl font-display font-semibold">Nossas Acomodações</h1>
    <h2 class="text-center text-2xl font-display font-light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr</h2>
  </div>

  <div class="flex flex-col space-y-10">
    <div class="flex flex-col md:flex-row overflow-hidden rounded-lg shadow-md">
      <div class="h-32 md:h-auto w-full xl:w-5/12 overflow-hidden transform object-contain md:object-scale-down bg-brown-700">
        <ngx-picture
        src="https://res.cloudinary.com/miguelsmuller/image/upload/c_fill,h_600,w_800/v1621942914/pousada-muller-site/images/photo-1529676468696-f3a47aba7d5d_rs49hw.WebP"
        alt=""
        class="image-filter"
        [lazyLoad]="true"
        ></ngx-picture>
      </div>

      <div class="flex flex-col justify-between w-full md:w-7/12 items-start p-10 bg-heavy-metal-50">
        <h2 class="text-3xl font-display">Unidade Normal</h2>

        <p class="leading-relaxed">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>

        <a class="default-button" href="#">Conhecer Unidade</a>
      </div>
    </div>

    <div class="flex flex-col md:flex-row overflow-hidden rounded-lg shadow-md">
      <div class="flex flex-col justify-between w-full md:w-7/12 items-start p-10 bg-heavy-metal-50">
        <h2 class="text-3xl font-display">Unidade Econômica</h2>

        <p class="leading-relaxed">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam</p>

        <a class="default-button" href="#">Conhecer Unidade</a>
      </div>

      <div class="h-32 md:h-auto w-full xl:w-5/12 overflow-hidden transform object-contain md:object-scale-down bg-brown-700">
        <ngx-picture
        src="https://res.cloudinary.com/miguelsmuller/image/upload/c_fill,h_600,w_800/v1621942914/pousada-muller-site/images/photo-1529676468696-f3a47aba7d5d_rs49hw.WebP"
        alt=""
        class="image-filter"
        [lazyLoad]="true"
        ></ngx-picture>
      </div>
    </div>
  </div>
</section>
