.contact-icons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  a{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    font-weight: 600;
    color: map-get($colors, 'primary-v2' );
    font-size: 16px;

    &:hover{
      text-decoration: none;
    }
  }

  svg{
    margin-bottom: 10px;
  }

  &.contact-icons-maintenance{
    a{
      font-size: 14px;
    }

    svg{
      height: 42px;
    }
  }
}
