.mat-dialog-container{
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.modal-dialog{
  margin: 0 !important;

  .modal-content{
    @include with-prefix('box-shadow', none);
    border-bottom: 12px solid map-get($colors, 'primary-v2');
    overflow: hidden;
    background-color: transparent;

    .modal-header {
      background-color: map-get($colors, 'primary-v2');
      padding: 20px 25px;

      .modal-title{
        color: map-get($colors, 'accent');
        font-weight: 600;
      }
    }

    .modal-body{
      background-color: white;
    }
  }
}

#modalReservation {
  .form-line,
  .form-line-contact-2line,
  .form-line-contact-3line,
  .form-line-contact-buttons{
    display: flex;
    flex-flow: row;

    .input-field{
      margin: 0px 5px;
    }
  }

  .form-line-contact-2line{
    & >:nth-child(1){
      width: 40%;
    }

    & >:nth-child(2){
      width: 60%;
    }
  }

  .form-line-contact-3line{
    & >:nth-child(1){
      width: 40%;
    }

    & >:nth-child(2),
    & >:nth-child(3),
    & >:nth-child(4){
      width: 20%;
    }
  }

  .form-line-contact-buttons{
    justify-content: flex-end;
    padding: 20px 0px 0px;
  }
}

@include breakpoint('max', $show-menu-mobile) {
  #modalReservation {
    .form-line,
    .form-line-contact-2line,
    .form-line-contact-3line,
    .form-line-contact-buttons{
      flex-flow: column;

      &>.form-group{
        width: 100%;
      }
    }
  }
}

