<section class="container w-full mx-auto px-4 pt-6 pb-10">
  <div class="flex flex-col md:flex-row items-center justify-between">
    <div class="w-full md:w-6/12 lg:w-6/12 xl:w-4/12">
      <h1 class="text-4xl font-display font-semibold">A Pousada do centro de Rio Claro</h1>

      <div class="py-2">
        <p class="py-2 text-base font-normal">Contando com fácil acesso aos pontos turísticos da região, a Pousada Muller oferece tradição e conforto para o visitante.</p>
        <p class="py-2 text-base font-normal">Aproveite a tranquilidade e beleza que a região de Rio Claro pode oferecer!</p>
      </div>

      <button class="default-button my-4" (click)="openDialogDisponibilidade()">Ver Disponibilidade</button>
    </div>

    <div class="flex-1 flex md:justify-end md:ml-10 md:mx-0 py-6 sm:py-0">
      <img class="image-filter w-full xl:w-10/12 rounded-none md:rounded-3xl shadow-xl transform object-contain md:object-scale-down bg-heavy-metal-700" src="https://images.unsplash.com/photo-1529676468696-f3a47aba7d5d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&h=600&q=80" alt=""><!-- xl:rotate-12 -->
    </div>
  </div>
</section>
