:host{
  display: block;

  .container-internal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
  }

  @media (min-width: 1025px) {
    .container-internal{
      grid-template-columns: 0.5fr 1fr;
    }
  }
}
