@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,500,600,700,800|Open+Sans:300,400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-brown);
$my-app-accent:  mat-palette($mat-pink);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);

html {
  scroll-behavior: smooth;
}

.default-button{
  @apply px-6 py-4 rounded text-sm font-semibold border-transparent bg-heavy-metal-700 text-white hover:bg-heavy-metal-500 focus:bg-heavy-metal-500 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-heavy-metal-500;
}

::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 600;
}
::-moz-placeholder {
  font-size: 14px;
  font-weight: 600;
}
:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 600;
}
:-moz-placeholder {
  font-size: 14px;
  font-weight: 600;
}

.default-image{
  @apply block p-0.5 box-content bg-white rounded-lg shadow-md border border-heavy-metal-200;

  img{
    @apply h-40 object-cover w-full rounded transition-all duration-200 ease-in-out;
    -webkit-filter: grayscale(80%) sepia(15%) blur(0px);
    -moz-filter: grayscale(80%) sepia(15%) blur(0px);
    -ms-filter: grayscale(80%) sepia(15%) blur(0px);
    -o-filter: grayscale(80%) sepia(15%) blur(0px);
    filter: grayscale(80%) sepia(15%) blur(0px);

    &:hover{
      @apply filter-none;
    }
  }
}

.default-input{
  @apply rounded p-2 block w-full appearance-none border transition duration-300 bg-white border-heavy-metal-200 focus:bg-white focus:border-transparent focus:outline-none focus:ring-1 focus:ring-heavy-metal-500;
}

.image-filter{
  -webkit-filter: grayscale(80%) sepia(15%) blur(0px);
  -moz-filter: grayscale(80%) sepia(15%) blur(0px);
  -ms-filter: grayscale(80%) sepia(15%) blur(0px);
  -o-filter: grayscale(80%) sepia(15%) blur(0px);
  filter: grayscale(80%) sepia(15%) blur(0px);
}

.main-menu{
  @apply w-full flex flex-col sm:flex-row items-center justify-end font-bold md:font-semibold uppercase gap-4 text-lg;

  &>*{
    @apply transition-all duration-500 rounded ease-in-out border-transparent sm:hover:border-heavy-metal-500 border-b-4;
  }
}

/* .main-menu{
  @apply w-full flex flex-col sm:flex-row items-center justify-end font-bold md:font-semibold uppercase gap-2 text-lg;

  &>*{
    @apply px-2 transition-all duration-500 rounded-lg ease-in-out sm:hover:bg-heavy-metal-500 sm:hover:text-heavy-metal-50;
  }
} */

.cdk-overlay-backdrop{
  @apply bg-opacity-60 bg-clip-padding backdrop-filter backdrop-blur-sm bg-heavy-metal-600;
}

.mat-dialog{
  .mat-dialog-container{
    @apply p-0 overflow-hidden bg-heavy-metal-100;
  }
  .mat-dialog-title{
    @apply text-xl p-4 m-0 bg-heavy-metal-700 text-heavy-metal-50 font-display font-semibold;
  }
  .mat-dialog-content{
    @apply max-w-3xl p-6 pb-3 m-0;
  }
  .mat-dialog-actions{
    @apply p-6 pb-3 md:pb-6 pt-3 m-0 flex justify-center md:justify-start border-b-8 border-heavy-metal-700;
  }
}
