<section class="container w-full mx-auto">
  <div class="container-internal">
    <div>
      <h1 class="text-4xl font-display font-semibold">A Pousada do centro de Rio Claro</h1>

      <div class="py-2.5">
        <p class="py-2 text-base font-normal">
          Contando com fácil acesso aos pontos turísticos da região, a Pousada Muller oferece tradição e conforto para o
          visitante.
        </p>
        <p class="py-2 text-base font-normal">
          Aproveite a tranquilidade e beleza que a região de Rio Claro pode oferecer!
        </p>
      </div>

      <button class="default-button" (click)="openReservationDialog()">Realizar Reserva</button>
    </div>

    <div>
      <div class="flex justify-end h-80 md:h-auto">
        <img
          src="https://res.cloudinary.com/miguelsmuller/image/upload/c_fill,h_600,w_800/v1621942914/pousada-muller-site/images/photo-1529676468696-f3a47aba7d5d_rs49hw.WebP"
          alt="Pousada Müller - Rio Claro - RJ"
          class="
            default-image-filter
            w-full
            lg:w-10/12
            xl:w-9/12
            overflow-hidden
            rounded-none
            md:rounded-2xl
            shadow-xl
            transform
            object-cover
            md:object-scale-down
          "
        />
      </div>
    </div>
  </div>
</section>
