<section id="cidade-rioclaro-rj" class="container mx-auto w-full px-4 pt-20 pb-4 md:py-16">
  <div class="pb-4">
    <h1 class="text-center text-4xl font-display font-semibold">Conheça Rio Claro</h1>
  </div>

  <div class="flex flex-col md:flex-row">
    <div class="w-full md:w-5/12">
      <a class="" href="https://www.youtube.com/watch?v=Cs5IOYzHuhI">
        <img src="assets/images/video-city.png" alt=""/>
      </a>
    </div>
    <div class="w-full md:w-7/12">
      <p class="pb-4 leading-relaxed">A bucólica Rio Claro fica ao sul do estado do Rio de Janeiro, no Vale do Paraíba, próxima ao litoral fluminense da Costa Verde, rodeada de serras e cachoeiras, ganha o coração do visitante com seu charme e clima interiorano. Com imensos vales cortados por rios límpidos, a região convida para a prática de rafting e esportes ao ar livre, se refrescando nas cachoeiras ou para apreciar a calma e a beleza de sua flora e fauna locais, parte da Mata Atlântica da região.</p>

      <p class="pb-4 leading-relaxed">Nas redondezas de Rio Claro (20km do centro da cidade, aprox. 20min de carro) é possível conhecer e explorar o Parque Arqueológico e Ambiental de São João Marcos, um museu a céu aberto que conta a história do Vale do Café. No Parque estão as ruínas do antigo município fluminense de São João Marcos que na década de 1940 foi evacuado para dar lugar à represa de Ribeirão das Lages. Os visitantes podem ainda percorrer a trilha do Caminho Imperial e conhecer o Centro de Memória, que apresenta a história da cidade.</p>
    </div>
  </div>

  <ul class="flex flex-row flex-wrap py-6 -mx-4">
    <li class="w-1/5 p-4">
      <a class="default-image">
        <img src="assets/galeria/1A5918B7CAC314AEC2EE8F515EF2ECAB03FC8D13E9A26EC6D86DE8AC88260FFF-250x250.jpg" alt=""/>
      </a>
    </li>
    <li class="w-1/5 p-4">
      <a class="default-image">
        <img src="assets/galeria/01B1EE4CBEB5E12D7F78CDAA1779B8F17162871DAD9E00D5224A65F481282128-250x250.jpg" alt=""/>
      </a>
    </li>
    <li class="w-2/5 p-4">
      <a class="default-image">
        <img src="assets/galeria/E2711845540D7FD337CC294E3074297DCF792CC4D4BFF85FE3EE1A2198F7DEC4-250x250.jpg" alt=""/>
      </a>
    </li>
    <li class="w-1/5 p-4">
      <a class="default-image">
        <img src="assets/galeria/D8979BDBA8D139242AFD46A0C9F04B3C42FC87C419DDD8D3E53ED3C345BFDE53-250x250.jpeg" alt=""/>
      </a>
    </li>
    <li class="w-2/5 p-4">
      <a class="default-image">
        <img src="assets/galeria/0E6FECE54A113833F167B0DCFC83D3AE078B6EB4A13D4AC5D598B5054DE74411-250x250.jpeg" alt=""/>
      </a>
    </li>
    <li class="w-1/5 p-4">
      <a class="default-image">
        <img src="assets/galeria/A992BD0E9D7BCF089F04D999FD86970ACEDF2DB3507FDFC2A5733B4775B25732-250x250.jpeg" alt=""/>
      </a>
    </li>
    <li class="w-1/5 p-4">
      <a class="default-image">
        <img src="assets/galeria/704BB6C438B9FB7ED46DFD756FE19D5E42BF66ACEF7093F20C061824646D0EBD-250x250.jpeg" alt=""/>
      </a>
    </li>
    <li class="w-1/5 p-4">
      <a class="default-image">
        <img src="assets/galeria/60B2F474A7868A58BA9B3DAEA46AE31F72E518F4A0097E4C394A5F06763A8E33-250x250.jpeg" alt=""/>
      </a>
    </li>
  </ul>
</section>

<div class="my-20 shadow-separator image-filter">
  <div class="bg-fixed	bg-center	bg-no-repeat bg-cover" style="height:500px; background-image:url('assets/images/paralax.jpeg');"></div>
</div>
